$aiu-blue: #0065a4;
$font-family: "Open Sans";

* {
  font-family: $font-family;
}

@mixin Text(
  $color: #fff,
  $bg: $aiu-blue,
  $ta: center,
  $fz: 1.5rem,
  $fw: 800,
  $td: uppercase
) {
  color: $color;
  background-color: $bg;
  text-align: $ta;
  background-color: $bg;
  padding: 3px;
  font-size: $fz;
  font-weight: $fw;
  border-radius: 8px;
  border: 1px solid $color;
  margin: 3px;
  min-width: 20px;
  min-height: 30px;
  text-decoration: $td;
  text-shadow: 1px 1px 3px darken($bg, 40%);
}

@mixin TextInverse(
  $color: $aiu-blue,
  $bg: white,
  $ta: center,
  $fz: 1.5rem,
  $fw: 800,
  $td: uppercase
) {
  color: $color;
  background-color: $bg;
  text-align: $ta;
  background-color: $bg;
  padding: 3px;
  font-size: $fz;
  font-weight: $fw;
  border-radius: 8px;
  border: 1px solid $color;
  margin: 3px;
  min-width: 20px;
  min-height: 30px;
  text-decoration: $td;
  text-shadow: -1px -1px 0px lighten($color, 80%);
}

@mixin FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ScrollY {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: inherit;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: opacify($aiu-blue, 0.5);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.scroll_y {
  @include ScrollY;
}

.wrapper {
  @include FlexCenter();
  width: 100%;
  height: 100%;
}

.acronym_web_part {
  width: 768px;
  height: 430px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fefefe,
    #fdfdfd,
    #fcfcfc,
    #fbfbfb,
    #fbfbfb,
    #fafafa,
    #fafafa,
    #fafafa,
    #fafafa,
    #f9f9f9,
    #f9f9f9
  );
  mix-blend-mode: multiply;
  border-radius: 8px;

  > div {
    padding: 0.5rem;
    height: 100%;

    :first-child {
      padding-top: 1rem;
    }
    :last-child {
      padding-bottom: 1rem;
    }
  }
}

.acronym_letters {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.01);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.acronym_ack {
  width: 230px;
  background-color: rgba(255, 255, 255, 0.05);
}

.acronym_def {
  @include FlexCenter();

  background-color: rgba(0, 0, 0, 0.01);

  color: $aiu-blue;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;

  width: 100%;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.col {
  flex-direction: column;
}
