$aiu-blue: #0065a4;
$font-family: "Open Sans";

@mixin OutlineText($color: #fff, $bg: $aiu-blue) {
  color: $bg;
  background-color: $bg;

  padding: 0.2rem 0;

  text-shadow: 1px 1px 0px $color, -1px -1px 0px $color, -1px 1px 0px $color,
    1px -1px 0px $color, 1px 1px 3px black;
}

@mixin RegularText($color: $aiu-blue, $bg: #fff) {
  color: $color;
  background-color: $bg;

  padding: 0.2rem;
  text-shadow: 0px 0px 1px black;
}

@mixin Text(
  $color: #fff,
  $bg: $aiu-blue,
  $ta: center,
  $fz: 2.4rem,
  $fw: 800,
  $variant: regular
) {
  @if ($variant == regular) {
    @include RegularText($color, $bg);
  }

  @if ($variant == outline) {
    @include OutlineText($color, $bg);
  }

  border-radius: 8px;
  border: 1px solid $bg;

  text-align: $ta;
  font-size: $fz;
  font-weight: $fw;
}

@mixin TextInverse(
  $color: $aiu-blue,
  $bg: white,
  $ta: center,
  $fz: 2.4rem,
  $fw: 800,
  $variant: regular
) {
  @if ($variant == regular) {
    @include RegularText();
  }

  @if ($variant == outline) {
    @include OutlineText($color, $bg);
  }

  border-radius: 8px;
  border: 1px solid opacify($color: $color, $amount: 0.5);

  text-align: $ta;
  font-size: $fz;
  font-weight: $fw;
}

@mixin FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min_size {
  min-width: 50px;
  min-height: 50px;
  padding: 8px;
  margin: 3px;
}

.letter {
  @include FlexCenter();
  @include Text(#fff, $aiu-blue, center, 2rem, 800, outline);

  box-shadow: inset 1px 2px 2px lighten($aiu-blue, 40%),
    inset 0px 0px 2px darken($aiu-blue, 40%), 1px 1px 0px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  background-image: radial-gradient(
    rgba(200, 200, 200, 0.33) 33%,
    transparent 66%
  );
  background-blend-mode: soft-light;
}

.letter:hover {
  box-shadow: inset 1px 2px 2px darken($aiu-blue, 10%),
    inset 0px 0px 2px darken($aiu-blue, 20%), 1px 1px 0px 1px rgba(0, 0, 0, 0.5);

  background-image: radial-gradient(
    rgba(100, 100, 100, 0.33) 33%,
    transparent 66%
  );
}

.selected_letter {
  @include FlexCenter();
  @include TextInverse($aiu-blue, #fff, center, 2rem, 800, outline);

  box-shadow: inset 1px 2px 2px lighten(rgba(0, 0, 0, 0.5), 40%),
    inset 0px 0px 2px darken(rgba(0, 0, 0, 0.5), 40%),
    1px 1px 0px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.selected_letter:hover {
  box-shadow: inset 1px 2px 2px darken(rgba(0, 0, 0, 0.5), 20%),
    inset 0px 0px 2px darken(rgba(0, 0, 0, 0.5), 60%),
    1px 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.acronym {
  font-size: 1.3rem;
  padding: 0.2rem;
}
