$aiu-blue: #8497b0;
$aiu-blue-active: #51647b;
$font-family: "Open Sans";

@mixin TextInverse(
  $color: #fff,
  $bg: $aiu-blue-active,
  $ta: center,
  $fz: 1rem,
  $fw: 800,
  $variant: regular
) {
  color: $aiu-blue-active;
  border-radius: 8px;
  border: 1px solid $bg;

  text-align: $ta;
  font-size: $fz;
  font-weight: $fw;
}

@mixin Text(
  $color: $aiu-blue,
  $bg: white,
  $ta: center,
  $fz: 1rem,
  $fw: 800,
  $variant: regular
) {
  border-radius: 8px;
  border: 1px solid opacify($color: $color, $amount: 0.5);

  color: $aiu-blue;
  text-align: $ta;
  font-size: $fz;
  font-weight: $fw;
}

@mixin FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min_size {
  min-width: 50px;
  min-height: 50px;
  margin: 3px;
}

.letter {
  @include FlexCenter();
  @include Text(#fff, $aiu-blue, center, 1rem, 800, outline);
  box-shadow: 1px 2px 2px darken($aiu-blue, 10%);
  cursor: pointer;
}

.letter:hover {
  box-shadow: inset 1px 2px 2px darken($aiu-blue, 10%),
    inset 0px 0px 2px darken($aiu-blue, 20%), 1px 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.letter:active {
  box-shadow: inset 1px 2px 2px darken($aiu-blue, 10%),
    inset 0px 0px 2px darken($aiu-blue, 20%), 1px 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.selected_letter {
  @include FlexCenter();
  @include TextInverse($aiu-blue-active, #fff, center, 1rem, 800, outline);

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.selected_letter:hover {
  box-shadow: inset 1px 2px 2px darken(rgba(0, 0, 0, 0.5), 20%),
    inset 0px 0px 2px darken(rgba(0, 0, 0, 0.5), 60%),
    1px 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.selected_letter:active {
  box-shadow: inset 1px 2px 2px darken(rgba(0, 0, 0, 0.5), 20%),
    inset 0px 0px 2px darken(rgba(0, 0, 0, 0.5), 60%),
    1px 1px 0px 1px rgba(0, 0, 0, 0.5);
}

.acronym {
  font-size: 1rem;
}
